---
import type { upcomingPerformance } from "../../pages/music.astro";

interface Props {
  performance: upcomingPerformance;
}

const { performance } = Astro.props;
---

<div class="upcoming-performance-container">
  <div class="title-container">
    <h2>{performance.date} {performance.title}</h2>
    <h3>{performance.time} at {performance.location}</h3>
    <div class="description">{performance.description}</div>
  </div>
</div>

<style>
  .upcoming-performance-container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
</style>
